.about-container {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(to top right, aqua, lime);
}
.typewriter {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  border-radius: 2rem;
  color: white;
  background: rgb(0, 0, 0);
  display: inline-block;
  text-align: center;
  position: absolute;
  height: 80%;
  width: 68%;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-top: 5rem;
  transform: translate(-50%, -50%);


  h1 {
    text-align: center;
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto 2.5rem;
    // letter-spacing: .15em; 
    animation: 
      typing 4s steps(30, end);

    &:nth-of-type(2) {
      visibility: hidden;
      animation: 
        typing 4s 3s steps(30, end) forwards;
    }
    &:nth-of-type(3) {
      visibility: hidden;
      animation: 
        typing 4s 6s steps(30, end) forwards;
    }
    &:nth-of-type(4) {
      visibility: hidden;
      animation: 
        typing 4s 13s steps(30, end) forwards;
    }
    &:nth-of-type(5) {
      visibility: hidden;
      animation: 
        typing 4s 17s steps(30, end) forwards;
    }
  }
  
  img {
    display : inline-block;
    height: 80px;
    width: 80px;
    margin: 2rem;
    transform: scale(0);

    &:nth-of-type(1) {
      animation: fadeIn 1s 16s ease-in forwards;
    }
    &:nth-of-type(2) {
      animation: fadeIn 1s 10s ease-in forwards;
    }
    &:nth-of-type(3) {
      animation: fadeIn 1s 16s ease-in forwards;
    }
    &:nth-of-type(4) {
      animation: fadeIn 1s 18s ease-in forwards;
    }
  }
}

#blinking {
  animation: blink .5s infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; visibility: visible; }
  to { width: 100%; visibility: visible; }
}

/* The typewriter cursor effect */
@keyframes blink {
  from, to { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fadeIn {
  to { transform: scale(1); }
}