<div class="about-container">

  <div class="typewriter">
    <h1>Hi, I'm Jin.</h1>
    <h1>I'm a <span class="roboto">Developer</span> / <span class="yellowtail">Designer</span>.</h1>
    <h1>I enjoy creating pleasing visuals on the interwebs.</h1>


    <img src="./assets/pizza.png" alt="happy face"> 
    <img src="./assets/emoji.png" alt="happy face"> 
    <img src="./assets/burger.png" alt="happy face"> 
    <img src="./assets/sushi.png" alt="sushi">


    <h1>I also love pizza and hamburgers.</h1>
    <h1>... and sushi.<span id="blinking">|</span></h1>
  </div>
  
</div>

