.projects-container {
  height: 100%;
  // width: 100%;
  padding: 5rem;
  // position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // background: radial-gradient(rgba(74, 152, 255, 0.623), rgba(28, 77, 240, 0.883)); 
  // background: radial-gradient(rgba(74, 152, 255, 0.6), rgba(28, 77, 240, 0.8)); 
  background: radial-gradient(rgba(176, 177, 179, 0.6), rgba(53, 59, 80, 0.8)); 
  
  overflow: scroll;


  .project__card {
    display: inline-block;
    height: auto;
    width: 30%;
    margin: 0 auto;
    border-radius: 1rem;
    background: rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
    position: relative;
    margin-bottom: 1.5rem;

    .project-image {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: scale(.9);
      border-radius: 1rem;      
    }

    .card-mask {
      text-align: center;
      padding: 1.5rem;

      p {
        display: none;
        text-align: center;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        color: white;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
   


    &:hover .card-mask {
      p {
        display: block;

      }

      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, .8);
      // box-shadow: 0 0 20px rgb(255, 255, 255);
      border-radius: 1rem;
      transform: scale(.9);
      transition: all .6s;
      
    }


   
  }
}