<div class="project-container" [@projectCards]="projects.length">
  <div *ngFor="let project of projects" class="project-card">
    <div class="project-image">
      <img src="./assets/{{project.img}}.png" alt={{project.title}}>
    </div>
    <div class="project-content">
      <h1>{{project.title}}</h1>
      <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id maxime aperiam perspiciatis laborum </p>
      <p class="project-tech">React | Node | Express | MOngo</p>
      <div class="project-links">
        <img src="" alt="Website Url">
        <img src="" alt="Github">
      </div>
    </div>
  </div>
</div>