<div class="projects-container" [@projectCards]="projects.length">
  <div *ngFor="let project of projects" class="project__card">
    <img class="project-image" src="./assets/{{project.img}}.png" alt="EasyMass">
    <div class="card-mask">
        <a href="{{project.url}}" target="blank">
          <img src="./assets/go.svg" alt="Visit Website">
        </a>
        <!-- <p>{{project}}</p>
        <p>React JS</p>
        <p>Node</p>
        <p>Express</p>
        <a href="https://www.easymass.herokuapp.com">Visit Website</a> -->
    </div>
  </div>
</div>



