.project-container {
  height: 100%;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  background: black;

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;  
    padding-top: 2rem;
    width: 400px;
    height: 500px;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
    transition: all .7s;    

    &:hover {
      transform: scale(1.05);
    }
    
    &:first-child {
      background: linear-gradient(45deg, #fd9f2b,#fadfaa);
    }
    &:nth-child(2) {
      background: linear-gradient(45deg, #a4d22d, #c3faae);  
    }
    &:nth-child(3) {
      background: linear-gradient(45deg, #95d6ff, #fafc86); 
      .project-content {
        h1 {
          font-size: 2.7rem;
        }
      }  
    }
    &:nth-child(4) {
      background: linear-gradient(45deg, #c3ebf2, #6fb8ff); 
    }
    &:nth-child(5) {
      background: linear-gradient(45deg, #ffabab, #617fcc);
      .project-content {
        h1 {
          font-size: 2rem;
        }
      }  
    }
    &:nth-child(6) {
      background: linear-gradient(45deg, #3b73a5, #9c8df0);
    }

    .project-image {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      border-radius: 50%;  
      box-shadow: 0 15px 25px rgba(0,0,0,.4);    
     
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    .project-content {
      height: 275px;
      width: 100%;
      text-shadow: 0 2px 7px rgba(0,0,0,.4);
      text-align: center;
      position: relative;
      padding-top: 1rem;

      h1 {
        font-size: 3rem;
        margin: 3rem auto;
        font-family: 'Righteous', 'Montserrat', sans-serif;
        text-transform: uppercase;
      }
      p {
        font-size: 1.5rem;
        font-family: 'Montserrat';
        margin-bottom: 1.6rem;
        // color: #000;
      }
      .project-tech {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 3rem;
        font-family: 'Montserrat';

      }

      .project-links {
        width: 100%;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);

        a {
          font-family: 'Montserrat';
          font-size: 1.3rem;
          text-shadow: none;
          display: inline-block;
          width: 100px;
          height: 35px;
          margin-right: 1.5rem;
          border-radius: 10rem;
          text-transform: uppercase;
          line-height: 3.4rem;
          background: black;
          color: white;
          text-align: center;
          transition: all .3s;

          &:hover {
            background: white;
            color: black;
          }
        
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .project-container {
    height: 91vh;
    
    .project-card {
      display: block;
    }
  }
}