<div class="project-container" [@projectCards]="projects.length">
  <div *ngFor="let project of projects" class="project-card">
    <div class="project-image">
      <img src="./assets/{{project.img}}.png" alt={{project.title}}>
    </div>
    <div class="project-content">
      <h1>{{project.title}}</h1>
      <p class="project-description">{{project.description}} </p>
      <p class="project-tech">{{project.tech}}</p>
      <div class="project-links">
        <!-- <a class="url-link" href="{{project.url}}" target="blank"><img src="./assets/visit.svg" alt="Website Url"></a> -->
        <!-- <a class="github-link" href="{{project.github}}" target="blank"><img src="./assets/github.svg" alt="Github"></a> -->
        <a href="{{project.url}}" target="blank">Visit</a>
        <a href="{{project.github}}" target="blank">Github</a>
      </div>
    </div>
  </div>
</div>