.contact-container {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(to top right, aqua, lime);
  
}
.form-container {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 75% 80%, 75% 100%, 50% 80%, 0% 80%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 85%, 75% 100%, 50% 85%, 0% 85%);
  font-family: 'Montserrat', sans-serif;  
  border-radius: 2rem;
  color: white;
  background: rgba(0, 0, 0,.4);
  position: absolute;
  height: 85%;
  width: 70%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    width: 40%;
    text-align: center;
    font-size: 4rem;
    margin: 2rem auto 0;
    letter-spacing: .5rem;
  }

  form {
    height: 75%;
    width: 100%;
    padding-top: 2rem;

    input {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      outline: none;
      border: none;
      display: block;
      margin: 1rem auto;
      width: 70%;
      height: 50px;
      background: rgba(0, 0, 0,.3);
      border-radius: 2rem;
      color: #fff;
      padding-left: 2rem;

      &::placeholder {
        color: rgb(187, 187, 187);
      }
    }
    textarea {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      outline: none;
      border: none;
      display: block;
      margin: 1rem auto;
      width: 70%;
      height: 60%;
      background: rgba(0, 0, 0,.3);
      border-radius: 2rem;
      color: #fff;
      padding: 2rem;

      &::placeholder {
        color: rgb(187, 187, 187);
      }
    }
  }
}

#form-submit {
  width: 200px;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 3px transparent;
  padding: 0;

  &:hover {
    // transform: translateY(-.6rem);
    // box-shadow: 0 .6rem 1.5rem rgba(0,0,0,.4);
    border: 3px solid aquamarine;
    
  }
  // &:active {
  //   transform: translateY(0);
  //   box-shadow: none;
  // }

}