.contact-container {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(to top right, aqua, lime);
  background: url('../../assets/denver.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 75% 80%, 75% 100%, 50% 80%, 0% 80%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 85%, 75% 100%, 50% 85%, 0% 85%);
  font-family: 'Montserrat', sans-serif;  
  border-radius: 1rem;
  color: white;
  background: rgba(0, 0, 0,.75);
  position: absolute;
  height: 85%;
  width: 70%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-family: 'Yellowtail', 'Montserrat', sans-serif;
    font-weight: 400;
    width: 40%;
    text-align: center;
    font-size: 6rem;
    margin: 2rem auto 0;
    letter-spacing: .5rem;
  }

  form {
    height: 75%;
    width: 100%;
    padding-top: 2rem;

    input {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      outline: none;
      border: none;
      display: block;
      margin: 1rem auto;
      width: 70%;
      height: 50px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 1rem;
      color: #000;
      padding-left: 2rem;

      &::placeholder {
        // color: rgb(187, 187, 187);
        color: rgba(0,0,0,.5);
      }
    }
    textarea {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      outline: none;
      border: none;
      display: block;
      margin: 1rem auto;
      width: 70%;
      height: 55%;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 1rem;
      color: #000;
      padding: 2rem;

      &::placeholder {
        // color: rgb(187, 187, 187);
        color: rgba(0,0,0,.5);
        
      }
    }
  }
}

#form-submit {
  width: 170px;
  height: 30px;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  background: #fff;
  cursor: pointer;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 0;
  transition: all .2s;

  &:hover {
    background: linear-gradient(to bottom right, aqua, rgb(28, 62, 255));
    color: #fff;
  }
}

@media only screen and (max-width: 1500px) {
  .form-container {

    h1 {
      font-size: 5rem;
    }

    form {

      input {
        height: 40px;
      }

      textarea {
        height: 50%;
      }
    }
  }

}

@media only screen and (max-width: 1150px) {
  .form-container {
    height: 90%;

    h1 {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  .form-container {

    h1 {
      font-size: 3rem;
      margin: 1rem auto;
      width: 70%;
    }

    form {
      padding-top: 1rem;

      input {
        height: 25px;
        width: 85%;
      }

      textarea {
        height: 60%;
        width: 85%;
      }
    }
  }

  #form-submit {
    width: 150px;
    padding: 1rem;
    height: 40px;
    font-size: 1.6rem;
  }

}