.home-container {
    display: block;
    height: 100%;
    width: 100%;
    // background: radial-gradient(rgba(0, 153, 255, 0.5), rgba(0, 38, 253, 0.8));
    background: radial-gradient(rgba(0, 153, 255, 0.3), rgba(0, 38, 253, 0.8));
    
}

