.home-container {
    height: 100%;
    width: 100%;
    position: relative;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    particles {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-family: 'Righteous', 'Yellowtail', 'Montserrat', sans-serif;
        font-size: 15rem;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        text-shadow: 0 5px 20px rgba(0,0,0,.6);
        opacity: 0;
        letter-spacing: 3px;
        cursor: pointer;
        transform: translateY(-5rem);
        animation: fadeDown 1s .5s ease-in forwards; 

        // &:hover .name:nth-child(even) {
        //     display: inline-block;
        //     color: lime;
        //     transition: all .4s;
    
        //     transform: translateY(-15px);
            
        // }
        // &:hover .name:nth-child(odd) {
        //     display: inline-block;
        //     color: aqua;
        //     transition: all .4s;
    
        //     transform: translateY(15px);
        // }
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        letter-spacing: 1rem;
        text-shadow: 0 3px 7px rgba(0, 0, 0,.5);
        opacity: 0;
        transform: translateY(-1.5rem);
        animation: fadeUp 1s .5s ease-in forwards; 
    }

    .links-container {
        width: 500px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        animation: fadeUp 1s .5s ease-in forwards; 

        a {
            width: 60px;
            height: 60px;
            transition: all .3s;
            border-radius: 50%;

            img {
                height: 100%;
                transform: scale(1.1);
            }

            &:nth-child(1) {
                img {
                    transform: scale(1.2);
                }
            }
            &:nth-child(4) {
                img {
                    transform: scale(1.25);
                }
            }

          

            &:hover {
                animation: spin 2s linear infinite;
            }
        }
    }
}

.white {
    background: white;
}

#lightSwitch {
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 100;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    img {
        width: 75px;
        color: white;
    }

    &:hover img {
        animation: shimmy .4s;
    }
}

@keyframes shimmy {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(-20deg);
    }
    66% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0);
    }

}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-12rem);
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        opacity: 1;
    }
}
@keyframes spin {
	0% {
        transform: rotate(0deg);
        background: #40E0D0;
    }
    25% {
        background: #FF8C00;        
    }
	75% {
        background: #FF0080;        
    }
    100% {
        transform: rotate(360deg);
        background: #40E0D0;        
	}
}
.lightOn {
    background: linear-gradient(#40E0D0, #FF8C00, #FF0080);
    h1 {
        color: #000;
    }
    h3 {
        color: #000;
    }
}

@media only screen and (max-width: 1300px) {
    .home-container {
        h1 {
            font-size: 12rem;
        }
        h3 {
            font-size: 2rem;
        }

        .links-container {
            width: 500px;
    
            a {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .home-container {
        h1 {
            font-size: 8rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        .links-container {
            width: 300px;
        }
        
    }
}
@media only screen and (max-width: 400px) {
    .home-container {
        h1 {
            font-size: 6rem;
            margin: 0;
        }
        h3 {
            font-size: 1.5rem;
            line-height: 2.5rem;
            text-shadow: 0 3px 5px rgba(0, 0, 0,.5);

            span {
                display: none;
            }
        }

        .links-container {
            width: 250px;
    
            a {
                width: 30px;
                height: 30px;
            }
        }
    }
}