.home-container {
    display: block;
    height: 100%;
    width: 100%;
    // background: radial-gradient(rgba(0, 153, 255, 0.5), rgba(0, 38, 253, 0.8));
    background: radial-gradient(rgba(0, 153, 255, 0.3), rgba(0, 38, 253, 0.8));
    position: relative;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: 'Yellowtail', 'Montserrat', sans-serif;
        font-size: 15rem;
        text-transform: uppercase;
        text-align: center;
        margin-top: 1.5rem;
        color: white;
        letter-spacing: 1rem;
        text-shadow: 0 5px 20px rgba(255,255,255,.8);

    }

    .profile-pic-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 75%;
        width: 75%;
        transform: translateX(-50%);
        img {
            height: 100%;
            width: 100%;
        }
    }
}

